<div>

    <% if @comment.errors.any? %>
        <div class='error'>
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @comment.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end%>



    <%= form_with url:'/users/3/posts/1/comments', model: @comment do |form| %>
        <div>
            <%= form.label :text,'You can drop your comments here' %>
            <%= form.text_field :text %>
        </div>

        <%= form.submit 'Create A New Post'%>
    <% end %>

</div>
