<div class="user" >
    <%= render 'partials/user', user: @user%>

    <div class='user-bio'>
      <p>bio </p>
      <p> <%=@user.bio %> </p>
    </div>

    <% @user.three_most_recent_post.each do |post| %>
      <%= link_to @user_post_path do %>
      <div class='user-text'>
        <p>Post #<%= post.id %></p>
        <p><%= post.text %></p>
         <div class='parameters'>
        <button>Delete post</button>
        <p class='user-post'> Comments:<span><%= post.comments_counter %></span>, Likes: <span><%= post.likes_counter %></span> </p>
       </div>
      </div>
      <% end %>
     
    <% end %>
    <a href="/users/<%= @user.id%>/posts/new" ><button style="margin-top: 10px;">Create new post</button></a>
    <a href="/users/<%= @user.id%>/posts" ><button>See all Posts</button></a>

</div>



