<div class="user">
 
 <%= render 'partials/user', user: @user%>

 <% @posts.each do |post| %> 
 
    <%= render 'partials/post', post: post%>
 
    <div class='user-text'>
      <%post.five_most_recent_comments.each do |postcomment| %>
        <p>
          <span><%= postcomment.author.name %></span>:
          <span><%= postcomment.text %></span>
        </p>

      <% end %>
    </div>
   <a href="/users/<%= @user.id%>/posts/<%= post.id%>" ><button>View post #<%= post.id%></button></a>
   
  <% end %>
  <a href="/users/<%= @user.id%>/posts/new" ><button style="margin-left: 150px;">Create new post</button></a>
  <div class='btn-paginate'>
  <button>Pagination</button>
  </div>
</div>
