<div class='user'>

    <% if @post.errors.any? %>
        <div class='error'>
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @post.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end%>



    <%= form_with url:"/users/#{params[:user_id]}/posts", model: @post do |form| %>
        <div class='user-text-field'>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>

        <div class='user-text-field'>
            <%= form.label :text %>
            <%= form.text_area :text, size: '60x10' %>
        </div>

        <%= form.submit 'Create A New Post'%>
    <% end %>

</div>
